<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}

  <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}" media="screen">
  <link rel="icon" href="{{ '/static/favicon.png' | relative_url }}" type="image/x-icon">
  {% if site.searchconfig %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/1/docsearch.min.css" />
  {% endif %}

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ '/static/fonts/fonts.css' | relative_url }}" />

  <script src="https://fb.me/react-with-addons-0.13.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>

  {% comment %}
  For our RSS feed.xml
  https://help.github.com/articles/atom-rss-feeds-for-github-pages/
  {% endcomment %}
  {% feed_meta %}
</head>
