<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div  style="padding: 0 0; background-color: white;">
      <div style="   font-weight: bold; font-size: 20px; padding: 20px; max-width: 768px; margin: 0 auto; text-align: center;">
        Support Ukraine 🇺🇦 
        <a href="https://opensource.fb.com/support-ukraine">
          Help Provide Humanitarian Aid to Ukraine
        </a>
        .
      </div>
    </div>
    {% include nav.html alwayson=true %}
    <div class="navPusher">
      {% include header.html %}
      <div class="mainContainer">
        <div id="main_wrap" class="wrapper mainWrapper">
          {{ content }}
        </div>
      </div>
      {% include footer.html %}
    </div>
  </body>

</html>
